{{#each products.payload}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text price">{{this.price}}</p>
            <p class="card-text code">{{this.code}}</p>
            <p class="card-text stock">{{this.stock}}</p>
            <a href="#" class="btn btn-primary add-to-cart" data-productid="{{this._id}}" data-cartid="{{this.cart._id}}">Add to cart</a>
        </div>
    </div>
{{/each}}
<div class="pageNumbers">
    {{#if products.prevPage}}
        <a href="/products?page={{this.products.prevPage}}">Anterior</a>
    {{/if}}
    {{#if products.nextPage}}
        <a href="/products?page={{this.products.nextPage}}">Siguiente</a>
    {{/if}}
</div>

<button onclick="location.href='api/users/logout'" type="submit">LOGOUT</button>


<script src="../js/product.js"></script>