
{{#each userList}}
  <div class="user-card">
    <h1>{{this.first_name}}</h1>
    <p>{{this.last_name}}</p>
    <p>{{this.email}}</p>
    <p>{{this.role}}</p>
    <div class="buttons">
      <button class="edit-button" data-id="{{this._id}}">Edit</button>
      <button class="delete-button" data-id="{{this._id}}">Delete</button>
    </div>
  </div>
{{/each}}


<script type="module" src="/js/users.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>