
{{#each userList}}
  <div class="user-card">
    <h1>{{this.first_name}}</h1>
    <p>{{this.last_name}}</p>
    <p>{{this.email}}</p>
    <p>{{this.role}}</p>
    <div class="buttons">
      <button class="edit-button" id="edit">Edit</button>
      <button class="delete-button" data-id="{{this._id}}">Delete</button>
    </div>
  </div>
{{/each}}


<script src="/js/users.js"></script>